<div class="span3 nav-settings-account ">
    <ul class="unstyled">
        <li>
            <h3>Mon compte</h3>
        </li>
        <li><a href="{% url 'profiles:profile-edit' %}" title="">Mon profil</a></li>
        <li><a href="" title="">Mes villes</a></li>
        <li>
            <hr/>
        </li>
        <li>
            <h3>Préférences</h3>
        </li>
        <li><a href="" title="">Catégories</a></li>
        <li><a href="" title="">Favoris</a></li>
        <li><a href="" title="">E-mailing</a></li>
        <li><a href="" title="">Alerte sur les enseignes</a></li>
        <li><a href="" title="">Activité</a></li>
    </ul>
</div>
