{% extends "base_in.html" %}
{% load i18n %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base-edit-profil.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/utils.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/green.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/datepicker.css' %}"/>
    <style>
.opt-frequence-email {
	margin: 10px 15px 5px;
	font-weight: bold;
}
.options-frequence-emails {
	overflow: hidden;
	margin-bottom: 30px;
	padding-top: 5px;
}
.options-frequence-emails label {
	float: left;
	margin-right: 25px;
}
.iradio_square-green {
	float: left;
	margin-right: 5px;
	margin-top: -2px;
}
.options-frequence-emails li {
	margin-right: 12px;
}
.options-frequence-emails li:first-child {
	margin-left: 15px;
}
.icheckbox_square-green {
	float: left;
	margin: 0 5px 0 15px;
}
.pause-notif-label {
	position: relative;
	top: 2px;
	font-weight: bold;
}
.options-pause-notif label {
	float: left;
	margin: 10px 15px 0;
}
.options-pause-notif input {
	margin-top: 5px;
	width: 120px;
}
.options-pause-notif {
	display: none;
}
</style>
{% endblock %}

{% block content %}
    <div class="row conteneur-principal">
        {% include 'profiles/_side_bar.html' %}
        <div class="contenu-reglages">
            <h2>Alerte sur les enseignes</h2>
			<hr />
			<h4 class="titre-reglage">Lorem ipsum dolor sit amet, consectetur adipiscing
			elit.</h4>
			<p class="description-reglage">sit amet pharetra est dapibus. Morbi
			ultricies lacus metus, non molestie ligula euismod eget. </p>
			<form action="" class="reg-preferences" method="post">
            {% csrf_token %}
				<p class="opt-frequence-email">Fréquence des e-mails :</p>
				<ul class="options-frequence-emails unstyled">
					<li>
					<input id="quotidiennement" {% if form.newsletter_frequency.value == '0' %}checked="checked"{% endif %} name="newsletter_frequency" type="radio" value="0"><label for="quotidiennement">Tous
					les jours</label></li>
					<li>
					<input id="hebdomadairement" {% if form.newsletter_frequency.value == '2' %}checked="checked"{% endif %} name="newsletter_frequency" type="radio" value="2"><label for="hebdomadairement">Chaque
					semaine</label></li>
					<li><input id="jamais" {% if form.newsletter_frequency.value == '4' %}checked="checked"{% endif %} name="newsletter_frequency" type="radio" value="4"><label for="jamais">Jamais</label></li>
				</ul>
				<input id="pause-notifications" type="checkbox" />
				<label class="pause-notif-label" for="pause-notifications">Mettre
				en pause les notifications d'emails :</label>
				<div class="options-pause-notif">
					<label for="jusquau">Jusqu'au</label>
					<input id="dp" name="paused_until" type="text" value="{{ form.paused_until.value|default_if_none:'' }}" />
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-primary" type="submit">{% trans 'Envoyer' %}</button>
                    </div>
                </div>
			</form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/utils-principal.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/jquery.icheck.min.js' %}"></script>
    <script type="text/javascript">
        (function ($) {
            $.vegas({ // Initialisation du plugin vegas pour le Ré-échantillonnage d'image lors du redimensionnement de la fenêtre
                src: "{% static 'css/images/background-principal.png' %}"
            });
        })(jQuery);
    </script>

    <script type="text/javascript">

    $('.options-frequence-emails input').iCheck({
            radioClass: 'iradio_square-green'
        }).on('ifChecked', function(e){
            // Traitement Ajax ICI
        }).on('ifUnchecked', function(e){
            // Traitement Ajax ICI
        });


        $('input#pause-notifications').iCheck({
            checkboxClass: 'icheckbox_square-green'
        }).on('ifChecked', function(e){ // Si l'utilisateur a coché l'input global
            $(this).closest('div').nextAll('div').first().slideDown();
        }).on('ifUnchecked', function(e){ // Si l'utilisateur a décoché l'input global
            // Traitement Ajax ICI
            $(this).closest('div').nextAll('div').first().slideUp();
        });
        $('#dp').datepicker();
            </script>


{% endblock %}
