{% extends "base_in.html" %}
{% load i18n %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base-edit-profil.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/utils.css' %}"/>
    <style>
        ul.parametres-generaux a {
            display: block;
            border-bottom: 1px solid #e9e9e9;
            padding: 7px 0;
            position: relative;
            font-size: 12px;
            font-weight: bold;
            color: #333333;
            overflow: hidden;
            cursor: pointer;
        }

        .last-item {
            border-color: #aaa;
        }

        .parametres-generaux a:hover {
            background: #f7f7f7;
            color: green;
        }

        .contenu-reglages hr {
            border-color: #aaaaaa;
        }

        .parametres-generaux a span.modifier-information {
            /*Poids necéssaire*/
            position: absolute;
            right: 5px;
            width: 60px;
            color: #6f7baf;
            font-weight: normal;
        }

        .parametres-generaux a span {
            float: left;
            width: 390px;
            color: #666666;
        }

        .parametres-generaux a span:first-child {
            width: 210px;
            padding-left: 15px;
            color: #333333;
        }

        .telecharger-copie-donnees {
            font-size: 12px;
            margin-left: 15px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row conteneur-principal">
        {% include 'profiles/_side_bar.html' %}
        <div class="contenu-reglages">
            <h2>Paramètres généraux du compte</h2>
            <hr/>
            <br>

            {% if form.non_field_errors %}
                <div class="alert alert-error">
                    <strong>{% trans 'Changing password failed!' %}</strong>
                    {% for error in form.non_field_errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            <form class="form-horizontal" method="post" autocomplete="off" action="">
                {% csrf_token %}
                {% for field in form.hidden_fields %}
                    {{ field.as_hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    <div class="control-group{% if field.errors %} error{% endif %}">
                        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}:</label>

                        <div class="controls">
                            {{ field }}
                            {% for error in field.errors %}
                                <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                            {% if field.help_text %}
                                <span class="sd-form-help">{{ field.help_text }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-primary" type="submit">{% trans 'Envoyer' %}</button>
                    </div>
                </div>
            </form>
            <br/>
            <hr>
            <ul class="parametres-generaux unstyled">
                <li><a class="last-item" href="{% url 'profiles:password-edit' %}">
                    <span class="password">Mot de passe</span>
                    <span class="password-utilisateur">**********</span>
                    <span class="modifier-information">Modifier</span>
                </a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/utils-principal.js' %}"></script>
    <script type="text/javascript">
        (function ($) {
            $.vegas({ // Initialisation du plugin vegas pour le Ré-échantillonnage d'image lors du redimensionnement de la fenêtre
                src: "{% static 'css/images/background-principal.png' %}"
            });
        })(jQuery);
    </script>
{% endblock %}
